<h1>Medical</h1>

<% if current_user.identity_file? %>
  <%= image_tag current_user.identity_file.url %>
<% end %>
<%= current_user.role %>

<%= link_to 'Propriétaire?', dashboards_owner_path, class: 'btn btn-primary' %>
